.container {
	@apply flex 
		flex-col;
}

.label {
	@apply flex
		flex-col
		mb-0.5
		font-semibold
		text-opacity-80;
}

.field {
	border: 1px solid #1a6575aa;
	@apply px-2.5
		py-1
		text-opacity-100
		transition-all
		duration-100
		focus:outline-none
		focus:shadow-inset-primary
		focus:bg-transparent
		focus:rounded
		focus:border-light-primary;
}

.field[name='email']:not(:focus),
.field[name='fullname']:not(:focus) {
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
}

.field[name='message'] {
	@apply py-2 rounded mt-4;
}

.field[name='message']::placeholder {
	@apply transition-all w-0 overflow-hidden whitespace-nowrap min-w-0;
}

.field[name='message'].inView::placeholder {
	@apply w-52;
	transition-delay: 1200ms;
	transition-duration: 1800ms;
}
